body {
    background-color: gray;
    color: white;
    font-family: sans-serif;
}

/* Start of nav bar */

ul {
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

.active{
    background-color: green;
    color: white;
}

/* End of nav bar */

#Hello {
    text-align: center;
    font-size: 150px;
}

#lorem {
    text-align: center;
    font-size: 18px;
}

#link-another-page {
    text-align: center;
    color: white;
}

#hello-censored {
    width: 300px;
    height: 230px;
    background-color: red;
    animation-name: example;
    animation-duration: 6s;
    position: relative;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
font-size: 50px;
text-align: center;
}

@keyframes example {
    0% {background-color: red; left: 0px;}
    25% {background-color: yellow; left: 0px; }
    50% {background-color: blue; left: 1605px;}
    75% {background-color: pink; left: 0px;}
    100% {background-color: red; left: 0px;}
}

#oops {
font-size: 25px;
text-align: center;
}

#dont {
    font-size: 15px;
    text-align: center;
    color: #484040;
}